.app {
  display: flex;
  max-height: 100vh;
  height: calc(100% - var(--title-bar-height));
  color: var(--font-color-primary);
  gap: var(--spacing-l);
}

.sidebar {
  flex: 0 0 auto;
}

.main {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  padding: 0 var(--spacing-l);
  margin-bottom: var(--spacing-l);
  max-width: calc(100% - 250px);
  max-height: 100%;
  overflow: hidden;
}
