/* ===== Yandex Sans Display ===== */
@font-face {
  font-family: 'Yandex Sans Display';
  src:
    url('../assets/fonts/YandexSansDisplay-Thin.woff2') format('woff2'),
    url('../assets/fonts/YandexSansDisplay-Thin.woff') format('woff'),
    url('../assets/fonts/YandexSansDisplay-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Yandex Sans Display';
  src:
    url('../assets/fonts/YandexSansDisplay-Light.woff2') format('woff2'),
    url('../assets/fonts/YandexSansDisplay-Light.woff') format('woff'),
    url('../assets/fonts/YandexSansDisplay-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Yandex Sans Display';
  src:
    url('../assets/fonts/YandexSansDisplay-Regular.woff2') format('woff2'),
    url('../assets/fonts/YandexSansDisplay-Regular.woff') format('woff'),
    url('../assets/fonts/YandexSansDisplay-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Yandex Sans Display';
  src:
    url('../assets/fonts/YandexSansDisplay-RegularItalic.woff2') format('woff2'),
    url('../assets/fonts/YandexSansDisplay-RegularItalic.woff') format('woff'),
    url('../assets/fonts/YandexSansDisplay-RegularItalic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Yandex Sans Display';
  src:
    url('../assets/fonts/YandexSansDisplay-Bold.woff2') format('woff2'),
    url('../assets/fonts/YandexSansDisplay-Bold.woff') format('woff'),
    url('../assets/fonts/YandexSansDisplay-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* ===== Yandex Sans Text ===== */
@font-face {
  font-family: 'Yandex Sans Text';
  src:
    url('../assets/fonts/YandexSansText-Thin.woff2') format('woff2'),
    url('../assets/fonts/YandexSansText-Thin.woff') format('woff'),
    url('../assets/fonts/YandexSansText-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Yandex Sans Text';
  src:
    url('../assets/fonts/YandexSansText-Light.woff2') format('woff2'),
    url('../assets/fonts/YandexSansText-Light.woff') format('woff'),
    url('../assets/fonts/YandexSansText-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Yandex Sans Text';
  src:
    url('../assets/fonts/YandexSansText-Regular.woff2') format('woff2'),
    url('../assets/fonts/YandexSansText-Regular.woff') format('woff'),
    url('../assets/fonts/YandexSansText-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Yandex Sans Text';
  src:
    url('../assets/fonts/YandexSansText-RegularItalic.woff2') format('woff2'),
    url('../assets/fonts/YandexSansText-RegularItalic.woff') format('woff'),
    url('../assets/fonts/YandexSansText-RegularItalic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Yandex Sans Text';
  src:
    url('../assets/fonts/YandexSansText-Medium.woff2') format('woff2'),
    url('../assets/fonts/YandexSansText-Medium.woff') format('woff'),
    url('../assets/fonts/YandexSansText-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Yandex Sans Text';
  src:
    url('../assets/fonts/YandexSansText-Bold.woff2') format('woff2'),
    url('../assets/fonts/YandexSansText-Bold.woff') format('woff'),
    url('../assets/fonts/YandexSansText-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* ===== Bootstrap Icons ===== */
@font-face {
  font-family: 'bootstrap-icons';
  src:
    url('../assets/fonts/bootstrap-icons.woff2') format('woff2'),
    url('../assets/fonts/bootstrap-icons.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
