@use '@shared/styles/_tokens';
@use '@shared/styles/_theme-dark';
@use '@shared/styles/whitespace';
@use '@shared/styles/base';
@use '@shared/styles/_typography-variables';
* {
  box-sizing: border-box;
}
body,
html,
#app {
  height: 100%;
  margin: 0;
  font-family:
    Inter,
    ui-sans-serif,
    system-ui,
    -apple-system;

  border-radius: 12px; // желаемый радиус
  overflow: hidden; // чтобы контент не вылезал за края

  transition: cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
#app {
  border: 0.5px solid #cccccc33;
  &::after {
    background-color: var(--background-primary);
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    // filter: blur(50px);
    border-radius: 12px; // тот же радиус, что и у #app
    z-index: -1;
  }
}

.page {
  padding: 16px;
  height: 100%;
  display: flex;
  flex-direction: column;
  backdrop-filter: blur(8px);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.board {
  flex: 1;
  overflow: auto;
}

.columns {
  display: flex;
  gap: var(--spacing-s);
  margin-top: var(--spacing-s);
}

.column {
  min-width: 280px;
  max-width: 360px;
  background: var(--background-block);
  padding: 10px;
  border-radius: 8px;
}

.column-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}
.column-header input {
  background: transparent;
  border: none;
  color: inherit;
  font-weight: 600;
  outline: none;
}

.card {
  background: var(--background-secondary);
  padding: 10px;
  border-radius: 6px;
  margin-bottom: 8px;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.card .desc {
  color: var(--muted);
  font-size: 12px;
  margin-top: 4px;
}
button {
  cursor: pointer;
}

/* Стили полос прокрутки */

/* Для WebKit (Chrome, Edge, Safari) */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background-color: var(--background-block);
  border-radius: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--accent-color);
  border-radius: 6px;
  border: 4px solid var(--background-block);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--dark-red);
}

::-webkit-scrollbar-corner {
  background-color: var(--background-block);
  border-radius: 6px;
}

/* Для Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--accent-color) var(--background-block);
}

/* Дополнительные состояния для Firefox */
@supports (-moz-appearance: none) {
  * {
    scrollbar-width: auto;
  }

  html,
  body {
    scrollbar-color: var(--accent-color) var(--background-block);
    scrollbar-width: thin;
  }
}

/* Плавное появление/исчезновение (опционально) */
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-track {
  transition: background-color 0.3s ease;
}
